<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svs.myprojects.bollywoodquiz"
    android:versionCode="2"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BollywoodApplication"
        android:allowBackup="true"
        android:icon="@drawable/im_bollywood_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OfflineQuizMainPage"
            android:label="@string/title_activity_offline_quiz_main_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OfflineBeginner"
            android:label="@string/title_activity_offline_beginner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OfflineIntermediate"
            android:label="@string/title_activity_offline_intermediate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".offline.Level_1"
            android:label="@string/title_activity_beginner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".offline.Level_2"
            android:label="@string/title_activity_level_2"
            android:parentActivityName=".OfflineQuizMainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.svs.myprojects.bollywoodquiz.OfflineQuizMainPage" />
        </activity>
        <activity
            android:name=".online.VideoRound"
            android:label="@string/title_activity_video_round"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".playboard.PlayBoardActivity"
            android:label="@string/title_activity_play_board"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
